body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("/img/dlsud-bg-login.png"); /* Replace with the provided background image link */
    background-size: cover;
    background-repeat: no-repeat;
    
}

.background-image {
    background-color: #006633; /* Replace with DLSU-D green color code */
}

input, textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #087830 !important;
    outline-width: 0;
    font-weight: 400;
}

a:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 0;
    border: none;
}

.card1 {
    width: 50%;
    padding: 20px 30px 10px 30px;
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #087830, #098A37, #0A9D3F);/* Three-color gradient background */
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

#logo1,
#logo2 {
    width: 195px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #56C596, #4CAF50, #00796B); /* Three-color gradient green background */
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #56C596, #4CAF50); /* Darker gradient green background with reversed shades */
}

.btn-white {
    display: inline-block;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #00796B;
    background-image: linear-gradient(to right, #56C596, #4CAF50);
    background-clip: padding-box;
    color: #fff;
    text-decoration: none; /* Remove underline */
    border-radius: 50px;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #4CAF50);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}