<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DLSU-D SWC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/dlsud-logo.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.css" rel="stylesheet">

  <!-- Table CSS -->
  <link href="/css/student-homepage-style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/tableAppointment.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">

          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-person"></i> Welcome, <%= studentData.last_name %> <%= studentData.first_name %>
          </div>

      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <div class="shadow p-3 mb-5 bg-body rounded">
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/StudentHomepage">DLSU-D Student Wellness Center</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Profile</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/studentProfilePage">Account Details</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Schedule Appointment</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/CreateAppointmentPage">Create Appointment</a></li>
              <li><a href="/CounselorList">List of Counselors</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Appointment Details</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/studentAppointmentStatus">Appointment Status</a></li>
              <li><a href="/studentAppointmentHistory">Appointment History</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="/">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </div>
  </header><!-- End Header -->



  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Schedule Appointment Today!</h2>
          <p>To ensure the students' mental health and well being during their stay in De La Salle
            University-Dasmariñas, the Student Wellness Center (SWC) takes a more proactive stance in helping students
            go through the different constellations of their development.</p>
        </div>
        <div class="row">

          <!-- Create Appointment Section -->
          <h2>Create Appointment</h2>
          <table>
            <form id="insertForm">
              <tr>
                <td><label for="date">Date:</label></td>
                <td><input type="date" id="date" name="date" required></td>
              </tr>
              <tr>
                <td><label for="time">Time:</label></td>
                <td><input type="time" id="time" name="time" required></td>
              </tr>
              <tr>
                <td><label for="service">Note:</label></td>
                <td><input type="text" id="service" name="service" required></td>
              </tr>
              <tr>
                <td colspan="2" allign="center"><button type="button" onclick="insertRecord()">Submit
                    Appointment</button></td>
              </tr>
            </form>
          </table>
          <hr>
        </div>
    </section>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Address:</h4>
                <p>De La Salle University - Dasmariñas DBB-B City of Dasmariñas Cavite. Philippines 4115</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>swc@dlsud.edu.ph</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>Hotline: 0912-3349003</p>
                <p>Local Line: +63 (46) 481.1900 local 3054</p>
                <p>Manila Line: +63 (2) 779.5180</p>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Student Wellness Center</h3>
      <p>Create possibilities with DLSU-D.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>De La Salle</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/home-page.js"></script>

  <!-- Insert new Appointment Record JS -->
  <script src="/js/create-appointment-page.js"></script>

</body>

</html>