<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Student Wellness Center - DLSU-D</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/dlsud-logo.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/student-homepage-style.css" rel="stylesheet">
</head>

<body>

   <!-- ======= Top Bar ======= -->
   <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone-fill phone-icon"></i> Cavite: +63 (46) 481.1900
        <i class="bi bi-phone-fill phone-icon"></i> Manila: +63 (2) 8779.5180
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/StudentHomepage">DLSU-D Student Wellness Center</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/studentProfilePage">Account Details</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Schedule Appointment</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/CreateAppointmentPage">Create Appointment</a></li>
              <li><a href="/CounselorList">List of Counselors</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Appointment Details</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/studentAppointmentStatus">Appointment Status</a></li>
              <li><a href="/studentAppointmentHistory">Appointment History</a></li>
            </ul>
          </li>
          <li><a href="/OurTeamPage">Our Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team Tagumpay!</h2>
          <p>These 3 aspiring webdevelopers have yet to unlock their potential!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://scontent.fcrk4-1.fna.fbcdn.net/v/t39.30808-6/334524296_751750633248009_7568942691391433118_n.jpg?_nc_cat=107&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFzCD242H-pAc1pTJ9Q1iCoX4zA7jDdMS9fjMDuMN0xL85-YXtK-VLJCa5Ih4yZvsd005mV1CEPOZJFhdcJeS14&_nc_ohc=viYCHl8U59kAX_jiQLJ&_nc_oc=AQlb2VmMTf6onqGDnD34f8GgtqAmxHRc-rVxuVx1Eq0dbrCtIN4gDo8aBnGKjbhq88I&_nc_ht=scontent.fcrk4-1.fna&oh=00_AfA6Y-Fi5sfpmNBij_5hJWbZLeptg8jTy7JEa2gIlsrB2g&oe=64C6921E" alt="">
              <h4>Steven James Alvaran</h4>
              <span>Chief Executive Officer</span>
              <p>
               Energetic, funny, and a approachable guy! Watch out for his dad jokes tho.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://scontent.fcrk4-1.fna.fbcdn.net/v/t39.30808-6/335058682_595749872407926_9178671073264786314_n.jpg?_nc_cat=102&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHHbv9MxDpMzssrWsXYix2ONmMvfK5kREs2Yy98rmRES43SiqKepMCpgT8MPDW6M6DQs3NMw-q_VuyCm9ha8I3q&_nc_ohc=d45KrxWGR_oAX9l0AyZ&_nc_ht=scontent.fcrk4-1.fna&oh=00_AfCu7jO1CCPNn_G2jND0StqmptFghcFnCGwazTwy1zvf-w&oe=64C7C257" alt="">
              <h4>Stephen Andre Manalo</h4>
              <span>Product Manager</span>
              <p>
                A pretty handsome and tall individual standing at 6 Foot.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="https://scontent.fcrk4-1.fna.fbcdn.net/v/t39.30808-6/335457517_5793858230712107_6897584223544068518_n.jpg?_nc_cat=103&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_eui2=AeF4aTViTbjvn_84qPeS9evITRF8s1-QTyhNEXyzX5BPKBNWHzx_cIm_NXuWVfUgcrXBuJosHRBJ8yXXG-5BoQ1B&_nc_ohc=uHjltUv2CbMAX-18SJb&_nc_ht=scontent.fcrk4-1.fna&oh=00_AfB3YN-ELEHpOyL-ihUVEFLDtgGmOAoBNVLfPh8Y95tKRA&oe=64C7472C" alt="">
              <h4>John Alexander Dimaya</h4>
              <span>CTO</span>
              <p>
                He loves the mango fruit, and cannot live without it.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Address:</h4>
                <p>De La Salle University - Dasmariñas DBB-B City of Dasmariñas Cavite. Philippines 4115</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>swc@dlsud.edu.ph</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>Hotline: 0912-3349003</p>
                <p>Local Line: +63 (46) 481.1900 local 3054</p>
                <p>Manila Line: +63 (2) 779.5180</p>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Student Wellness Center</h3>
      <p>Create possibilities with DLSU-D.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>De La Salle</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/home-page.js"></script>

</body>

</html>